# Week8 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1 for missing value) 

i.e: 
    
    - 2018 => 2018-01-01  
    - June 2021 => 2021-06-01  
    - 2020 => 2020-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

Note: Choose one of the following datasets to work on based on your taste!

In [1]:
import re
import pandas as pd
import numpy as np
import datetime

In [2]:
# spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_spicy.csv'
less_spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_less_spicy.csv'

In [3]:
data = pd.read_csv(less_spicy, index_col=0)

In [4]:
data.head(10)

,email,notes
0,margaret41@santos.info,start July 1970/end 2013-06-17
1,donna16@jimenez.com,start 1971-02 end 04/10/2012
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010
4,jherrera@koch.com,start 1975/end 07/27/2018
5,meganmcdonald@wallace.info,start January 1996/end May 2017
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016
7,elizabethmoore@hotmail.com,start 1978/end 2020-09
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/P# 001-467-263-22...
9,jessicacosta@henson.com,start 2003-11 end February 2018 P# +1-946-742-...

In [5]:
data['notes'] = data['notes'].str.lower()

In [6]:
data['start_date']=0 
data['end_date']=0

In [9]:
startdateregex=re.compile(r'([0-9]{2}(\/|-)[0-9]{2}(\/|-)[0-9]{4})|([0-9]{4}(-|\/)[0-9]{2}(-|\/)[0-9]{2})|([0-9]{4}(\/|-)[0-9]{2})|^[0-9]{4}$|((January|February|March|April|May|June|July|August|September|October|November|December) [0-9]{4})|([0-9]{4}(\/|-)[0-9]{2}(\/|-)[0-9]{2})|([0-9]{2}(\/|-)[0-9]{2}(\/|-)[0-9]{4})|([0-9]{2}(\/)[0-9]{2})|\s[0-9]{4}(\/|-)[0-9]{2}(\/|-)[0-9]{2}|(?: [0-9]{4})|\s[0-9]{4}')
search1= startdateregex.search('notes')
search1

In [10]:
data['start_date']=[startdateregex.search(s).group() if startdateregex.search(str(s)) != None else None for s in data['notes'] ]

In [11]:
data['start_date']=pd.to_datetime(data['start_date'], errors='coerce')
data

,email,notes,start_date,end_date
0,margaret41@santos.info,start july 1970/end 2013-06-17,1970-01-01,0
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-01-01,0
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,0
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,1986-01-01,0
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,0
...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,1988-05-04,0
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-01-01,0
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,1984-05-06,0
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,0
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,0

In [12]:
phoneNumberRegex = re.compile(r'(((?<=p#)|(?<=pn:)|(?<=p\/n)|(?<=p#)).*?((?=x)|($)))')
data['phone_number']=data['notes'].str.extract(phoneNumberRegex)[0]
data['phone_number'] = data['phone_number'].replace({np.nan: None})
data.head(10)

,email,notes,start_date,end_date,phone_number
0,margaret41@santos.info,start july 1970/end 2013-06-17,1970-01-01,0,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-01-01,0,None
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,0,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,1986-01-01,0,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,0,None
5,meganmcdonald@wallace.info,start january 1996/end may 2017,1996-01-01,0,None
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016,2002-08-03,0,None
7,elizabethmoore@hotmail.com,start 1978/end 2020-09,1978-01-01,0,None
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/p# 001-467-263-22...,2008-11-30,0,001-467-263-2241
9,jessicacosta@henson.com,start 2003-11 end february 2018 p# +1-946-742-...,2003-01-01,0,+1-946-742-6723

In [13]:
endDateRegex = re.compile(r'((?<=end).*?((?=\/p#)|(?=\/p\/n)|(?=\/P#)\|(?=\/pn)|(?=-p#)|(?=-pn)|(?=-p\/n)|(?=-P#)|(?=p#)|(?=pn)|(?=p\/n)|(?=P#)|($)))')
data['end_date'] = data['notes'].str.extract(endDateRegex)[0]
data['end_date'] = pd.to_datetime(data['end_date'])

In [14]:
data.head(20)

,email,notes,start_date,end_date,phone_number
0,margaret41@santos.info,start july 1970/end 2013-06-17,1970-01-01,2013-06-17,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-01-01,2012-04-10,None
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,2018-12-20,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,1986-01-01,2010-02-01,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,2018-07-27,None
5,meganmcdonald@wallace.info,start january 1996/end may 2017,1996-01-01,2017-05-01,None
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016,2002-08-03,2016-09-11,None
7,elizabethmoore@hotmail.com,start 1978/end 2020-09,1978-01-01,2020-09-01,None
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/p# 001-467-263-22...,2008-11-30,2011-12-01,001-467-263-2241
9,jessicacosta@henson.com,start 2003-11 end february 2018 p# +1-946-742-...,2003-01-01,2018-02-01,+1-946-742-6723
10,luke71@burton.net,start 1980-04-end 2010-08-pn: 736.011.4403x188,1980-01-01,2010-08-01,736.011.4403
11,tbaker@duncan-ortiz.com,start december 1972-end 2021-p/n 001-689-196-...,1972-01-01,2021-01-01,001-689-196-2871
12,morgan26@gmail.com,start 1993-03-16-end 2020-04-p# 884-899-3487x...,1993-03-16,2020-04-01,884-899-3487
13,melissacrawford@brown.info,start 1995/end 03/13/2016,1995-01-01,2016-03-13,None
14,dgarcia@gmail.com,start 2009-03 end 2018-05,2009-01-01,2018-05-01,None
15,rosalestiffany@lewis-hutchinson.com,start december 2002 end july 2021,2002-01-01,2021-07-01,None
16,ksmith@yahoo.com,start 1982/end 2017,1982-01-01,2017-01-01,None
17,christopherbowen@gmail.com,start 2006/end 2020,2006-01-01,2020-01-01,None
18,paulstone@frey-miller.com,start 2004-11-28/end june 2016,2004-11-28,2016-06-01,None
19,jillgutierrez@gmail.com,start 1979-10/end 11/25/2019/p# (208)502-7177,1979-01-01,2019-11-25,(208)502-7177

In [15]:
data['duration'] = pd.DatetimeIndex(data['end_date']).year-pd.DatetimeIndex(data['start_date']).year
data

,email,notes,start_date,end_date,phone_number,duration
0,margaret41@santos.info,start july 1970/end 2013-06-17,1970-01-01,2013-06-17,None,43
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-01-01,2012-04-10,None,41
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,2018-12-20,001-464-616-8819,41
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,1986-01-01,2010-02-01,None,24
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,2018-07-27,None,43
...,...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,1988-05-04,2018-08-19,None,30
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-01-01,2017-06-01,1886569390,39
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,1984-05-06,2021-08-11,None,37
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,2018-01-01,709.702.0599,14
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,2020-05-18,None,43