In [12]:
import re
import pandas as pd
import numpy as np
import datetime

In [13]:
data = pd.read_csv("https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_less_spicy.csv", index_col=0)

In [14]:
data.head()

,email,notes
0,margaret41@santos.info,start July 1970/end 2013-06-17
1,donna16@jimenez.com,start 1971-02 end 04/10/2012
2,edwardslinda@cabrera-murphy.org,start January 1977 end 12/20/2018 pn: 001-464-...
3,gutierrezdenise@hotmail.com,start 1986-02 end February 2010
4,jherrera@koch.com,start 1975/end 07/27/2018

In [15]:
data['start_date']=0 
data['end_date']=0

In [16]:
data['notes'] = data['notes'].str.lower()

In [17]:
pattern= re.compile(r'(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}')
search= pattern.search('notes')
search

In [18]:
pattern1=re.compile(r'([0-9]{2}(\/|-)[0-9]{2}(\/|-)[0-9]{4})|([0-9]{4}(-|\/)[0-9]{2}(-|\/)[0-9]{2})|([0-9]{4}(\/|-)[0-9]{2})|^[0-9]{4}$|((January|February|March|April|May|June|July|August|September|October|November|December) [0-9]{4})|([0-9]{4}(\/|-)[0-9]{2}(\/|-)[0-9]{2})|([0-9]{2}(\/|-)[0-9]{2}(\/|-)[0-9]{4})|([0-9]{2}(\/)[0-9]{2})|\s[0-9]{4}(\/|-)[0-9]{2}(\/|-)[0-9]{2}|(?: [0-9]{4})|\s[0-9]{4}')
search1= pattern1.search('notes')
search1

In [19]:
data['dates']=[pattern1.search(s).group() if pattern1.search(str(s)) != None else None for s in data['notes'] ]
data

,email,notes,start_date,end_date,dates
0,margaret41@santos.info,start july 1970/end 2013-06-17,0,0,1970
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,0,0,1971
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,0,0,1977
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,0,0,1986
4,jherrera@koch.com,start 1975/end 07/27/2018,0,0,1975
...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,0,0,05/04/1988
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,0,0,1978
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,0,0,05/06/1984
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,0,0,2004-02-22
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,0,0,1977-01-31

In [20]:
phoneNumberRegex = re.compile(r'(((?<=p#)|(?<=pn:)|(?<=p\/n)|(?<=p#)).*?((?=x)|($)))')
data['phone_number']=data['notes'].str.extract(phoneNumberRegex)[0]
data['phone_number'] = data['phone_number'].replace({np.nan: None})
data.head(10)

,email,notes,start_date,end_date,dates,phone_number
0,margaret41@santos.info,start july 1970/end 2013-06-17,0,0,1970,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,0,0,1971,None
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,0,0,1977,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,0,0,1986,None
4,jherrera@koch.com,start 1975/end 07/27/2018,0,0,1975,None
5,meganmcdonald@wallace.info,start january 1996/end may 2017,0,0,1996,None
6,martinkellie@thomas-cannon.net,start 2002-08-03-end 09/11/2016,0,0,2002-08-03,None
7,elizabethmoore@hotmail.com,start 1978/end 2020-09,0,0,1978,None
8,rosemarcus@yahoo.com,start 2008-11-30/end 2011-12/p# 001-467-263-22...,0,0,2008-11-30,001-467-263-2241
9,jessicacosta@henson.com,start 2003-11 end february 2018 p# +1-946-742-...,0,0,2003,+1-946-742-6723

In [21]:
data['start_date']=pd.to_datetime(data['dates'], errors='coerce')
data

,email,notes,start_date,end_date,dates,phone_number
0,margaret41@santos.info,start july 1970/end 2013-06-17,1970-01-01,0,1970,None
1,donna16@jimenez.com,start 1971-02 end 04/10/2012,1971-01-01,0,1971,None
2,edwardslinda@cabrera-murphy.org,start january 1977 end 12/20/2018 pn: 001-464-...,1977-01-01,0,1977,001-464-616-8819
3,gutierrezdenise@hotmail.com,start 1986-02 end february 2010,1986-01-01,0,1986,None
4,jherrera@koch.com,start 1975/end 07/27/2018,1975-01-01,0,1975,None
...,...,...,...,...,...,...
1995,valerieguerra@yahoo.com,start 05/04/1988-end 08/19/2018,1988-05-04,0,05/04/1988,None
1996,williamsbryan@yahoo.com,start 1978-08-end 2017-06-p# 1886569390,1978-01-01,0,1978,1886569390
1997,lkirby@may-blanchard.com,start 05/06/1984/end 08/11/2021,1984-05-06,0,05/06/1984,None
1998,elizabethrussell@yahoo.com,start 2004-02-22 end 2018 p/n 709.702.0599x5879,2004-02-22,0,2004-02-22,709.702.0599
1999,mark83@gmail.com,start 1977-01-31 end 05/18/2020,1977-01-31,0,1977-01-31,None